<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileCommerceProject01"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".java.PersonalInfoActivity"
            android:exported="false"/>
        <activity android:name=".java.ContactActivity"
            android:exported="false"/>
        <activity
            android:name=".java.SettingNotificationActivity2"
            android:exported="false" />
        <activity
            android:name=".java.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".java.PolicyActivity"
            android:exported="false" />
        <activity
            android:name=".java.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".java.DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".java.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".java.BlogCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".java.CartActivity"
            android:exported="false" />
        <activity
            android:name=".java.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".java.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".java.SettingAddressActivity"
            android:exported="true" />
        <activity
            android:name=".java.SearchResultActivity"
            android:exported="true" />
        <activity
            android:name=".java.SearchProductActivity"
            android:exported="true" />
        <activity
            android:name=".java.WelcomeActivity$ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".java.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".java.ResetPasswordOTPActivity"
            android:exported="false" />
        <activity
            android:name=".java.OrderConfirmActivity"
            android:exported="true" />
        <activity
            android:name=".java.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".java.HomeScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".java.CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".java.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".java.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".java.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".java.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>